<div class='page-wrapper'>
    <div class='page-header'>
        <h1>Derick Del Rosario</h1>
    </div>
    <div class='page-desc'>
        <h3>Welcome to my place, take a look around!</h3>
    </div>
    <div class='nav-row'>
        <div class='nav-item'>
            <p>Highlights</p>
        </div>
        <div class='nav-item'>
            <p>Projects</p>
        </div>
        <div class='nav-item'>
            <p>Experience</p>
        </div>
        <div class='nav-item'>
            <p>About Me</p>
        </div>
    </div>
    <div class='row'>
        <h2>Highlights</h2>
    </div>
    <div class='row'>
        <ul>
            <li>Highlight 1</li>
            <li>Highlight 2</li>
            <li>Highlight 3</li>
        </ul>
    </div>
    <div class='row'>
        <h2>Projects</h2>
    </div>
    <div class='row'>
        <ul>
            <li>Project 1</li>
            <li>Project 2</li>
            <li>Project 3</li>
        </ul>
    </div>
    <div class='row'>
        <h2>History</h2>
    </div>
    <div class='row'>
        <ul>
            <li>Work Experience 1</li>
            <li>Work Experience 2</li>
            <li>Work Experience 3</li>
        </ul>
    </div>
    <div class='row'>
        <h2>About Me</h2>
    </div>
    <div class='row'>
        <div class='text-blurb'>
            <p>This is some text about me.</p>
        </div>
    </div>
</div>